@using Raisin.Plugins.TableOfContents;

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Your one-stop-shop for high performance .NET graphics &amp; compute. A .NET Foundation project.">
  @if (Model is not TableOfContentsModel tocModel || tocModel.Root == tocModel.Node)
  {
      <title>
        Silk.NET - High-Speed &amp; Advanced .NET Graphics &amp; Compute
      </title>
  }
  else
  {
      <title>
        @tocModel.Node.Name - Silk.NET
      </title>
  }
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="@Raw(Model.MakeRelativeToCurrentOutput("theme/nucleo.css"))" rel="stylesheet" />
  <link href="@Raw(Model.MakeRelativeToCurrentOutput("theme/fontawesome.css"))" rel="stylesheet" />
  <link href="@Raw(Model.MakeRelativeToCurrentOutput("theme/argon.css"))" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
  <link rel="stylesheet" href="@Raw(Model.MakeRelativeToCurrentOutput("theme/docs.css"))">
  <link rel="stylesheet" href="@Raw(Model.MakeRelativeToCurrentOutput("theme/silk.css"))">
</head>

<body>
  @await Model.IncludeAsync(this, "_theme/src/10-nav.cshtml")
  @await Model.IncludeAsync(this, "_theme/src/20-contentroot.cshtml")
  <script src="@Raw(Model.MakeRelativeToCurrentOutput("theme/jquery.min.js"))" type="text/javascript"></script>
  <script src="@Raw(Model.MakeRelativeToCurrentOutput("theme/popper.min.js"))" type="text/javascript"></script>
  <script src="@Raw(Model.MakeRelativeToCurrentOutput("theme/bootstrap.min.js"))" type="text/javascript"></script>
  <script src="@Raw(Model.MakeRelativeToCurrentOutput("theme/perfect-scrollbar.jquery.min.js"))"></script>
  <script src="@Raw(Model.MakeRelativeToCurrentOutput("theme/bootstrap-switch.js"))"></script>
  <script src="@Raw(Model.MakeRelativeToCurrentOutput("theme/nouislider.min.js"))" type="text/javascript"></script>
  <script src="@Raw(Model.MakeRelativeToCurrentOutput("theme/moment.min.js"))"></script>
  <script src="@Raw(Model.MakeRelativeToCurrentOutput("theme/datetimepicker.js"))" type="text/javascript"></script>
  <script src="@Raw(Model.MakeRelativeToCurrentOutput("theme/bootstrap-datepicker.min.js"))"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="@Raw(Model.MakeRelativeToCurrentOutput("theme/argon.js"))" type="text/javascript"></script>
  <script src="@Raw(Model.MakeRelativeToCurrentOutput("theme/jquery.sharrre.js"))"></script>
  <script src="@Raw(Model.MakeRelativeToCurrentOutput("theme/docs.min.js"))"></script>
  <script src="@Raw(Model.MakeRelativeToCurrentOutput("theme/anchor.min.js"))"></script>
  <script src="@Raw(Model.MakeRelativeToCurrentOutput("theme/clipboard.min.js"))"></script>
  <script src="@Raw(Model.MakeRelativeToCurrentOutput("theme/holder.min.js"))"></script>
  <script src="@Raw(Model.MakeRelativeToCurrentOutput("theme/application.js"))"></script>
  <script src="@Raw(Model.MakeRelativeToCurrentOutput("theme/headroom.min.js"))"></script>
  <script src="@Raw(Model.MakeRelativeToCurrentOutput("theme/silk.js"))"></script>
</body>

</html>