@{
    TableOfContentsModel? tocModel = Model.GetToc();
}

@if (tocModel?.Node is null)
{
    <br />
}

@{
    if (tocModelRoot is null && TableOfContentsExtensions.TryFindAnyTableOfContents(Model, out tocModelRoot))
    {
        // do nothing, the if has done all the talking for us
    }

    var isWip = "false";
    var copyrightHolder = string.Empty;
    var copyrightHolderUrl = string.Empty;
    var footNote = string.Empty;
}

@if ((tocModel?.Root.Metadata?.TryGetValue("theme.silk.wip", out isWip) ?? false) && bool.Parse(isWip) &&
     !((tocModel?.Node.Metadata?.TryGetValue("theme.silk.raw_content", out isWip) ?? false) && bool.Parse(isWip)))
{
    <div class="alert alert-danger" role="alert">
        This site is a work in progress!
    </div>
}

@RenderBody()

@if (tocModel?.Root.Metadata?.TryGetValue("theme.silk.footer.copyright", out copyrightHolder) ?? false)
{
    <hr class="silk-last-hr">
    <div>
      <div class="col-md-6">
        <div class="copyright">
            &copy; @DateTime.Now.Year
            @if (tocModel?.Root.Metadata?.TryGetValue("theme.silk.footer.copyright.url", out copyrightHolderUrl) ?? false)
            {
                <a href="@Raw(copyrightHolderUrl)" target="_blank">@copyrightHolder</a>
            }
            else
            {
                <a target="_blank">@copyrightHolder</a>
            }
        </div>
      </div>
    </div>
}

@if (tocModel?.Root.Metadata?.TryGetValue("theme.silk.footer.note", out footNote) ?? false)
{
    <div class="container-fluid">
        <p class="silk-disclaimer">
            <small>@footNote</small>
        </p>
    </div>
}
